:root{
    --primarycolor: #B45309
}

body{
    background-color: white;
    color:var(--primarycolor);
    font-family: 'Times New Roman', Times, serif;
}

.container  {
    border-radius: 2rem;
    border: 2px solid var(--primarycolor);
    padding-left: 4rem;
    padding-right: 4rem;
    margin:7% 10% ;
    margin:auto;
    margin-bottom: 2rem;
    max-width: 70%;
    min-height: 70vh;
    display: block;    
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: auto;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 80%;
    min-height: 20vh;
    margin: auto;
    padding:0.5rem;
    border: 2px solid var(--primarycolor);

}

#translate-btn{
    text-align: center;
    margin:auto;
    margin-top: 1rem;
    color:white;
    border-radius: 0.5rem;
    border: 3px solid white;
    font-size: large;
    padding: 0.5rem;
    background-color: var(--primarycolor);
    display: flex;

    
}
.container button{
    text-align: center;
}

#translate-btn:hover {
    color:var(--primarycolor);
    border: 3px solid var(--primarycolor) ;
    background-color: white;
}

.container p{
    text-align: center;
    font-size: 1.5rem;
}

#output-txt{
    box-sizing: border-box;
    display: block;
    width: 80%;
    min-height: 15vh;
    margin: auto;
    border: 3px solid var(--primarycolor);
    background-color: white;
    padding:0.5rem;
    margin-bottom: 1rem;

}

hr {
    border: 2px solid var(--primarycolor);
}

.footer {
    text-align: center;
    color: var(--primary-color);
}

.footer h1{
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0%;
}

.footer p{
    font-size: 1.2rem;
    padding: 0 10% 0 10%;
}